/* General Body Styles */
body {
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Login Wrapper Styles */
.login-wrapper, .register-wrapper {
  display: flex;
  /* height: 100vh; */
}

/* Image Section Styles */
.image-section {
  flex: 1;
  background-color: #f0f0f0;
  background-image: url('./assets/11.png'); 
  background-size: cover;
  background-position: center;
}

/* Form Section Styles */
.form-section {
  background-color: #02330F;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Header Text Styles */
.headText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.form-section h2 {
  font-family: 'ITC Eras Light', sans-serif; 
  font-size: 4rem; 
  font-weight: bold;
  color: #ffffff; 
  margin-bottom: 20px;
  text-align: center; 
}

.form-section h6 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  color: #ffffff; 
}

/* Error Message Styles */
.form-section .error {
  color: red;
  margin-bottom: 1rem;
}

/* Form Styles */
.form-section form {
  width: 100%;
  max-width: 400px;
}
/* Additional styles for password input with icon */
.password-container {
  position: relative;
  margin-bottom: 1rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  padding: 0.75rem 3rem 0.75rem 1rem; 
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 50px;
  background-color: #ffffff8d;
}

.input-wrapper i {
  position: absolute;
  right: 10px; 
  cursor: pointer;
}

/* Additional styles for password input with icon */
.password-container {
  position: relative;
  margin-bottom: 1rem;
}

.input-wrapper {
  position: relative; 
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  padding: 0.75rem 3rem 0.75rem 1rem; 
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 50px;
  background-color: #ffffff8d;
}

.input-wrapper i {
  position: absolute;
  right: 20px; 
  cursor: pointer;
  color: #ddd; 
}

.form-section form div {
  margin-bottom: 1rem;
}

.form-section form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ffffff8d; 
}

.form-section form input {
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border: 1px solid #ffffff8d;
  border-radius: 50px;
  background-color: #ffffff8d;
  color: #333; 
  font-size: 1rem; 
}

.form-section form input:focus {
  border-color: #9291918d; 
  outline: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.form-section form button {
  padding: 0.75rem;
  width: 100%;
  max-width: 200px; 
  background-color: #9291918d; 
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  margin: 20px 0;
}

.form-section form button:hover {
  background-color: #6161618d; 
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.form-section .signup, .login {
  margin-top: 1rem;
  font-size: 1rem; 
  color: #ffffff8d;
}

.form-section .signup a , .login a {
  color: #ffffff;
  text-decoration: none;
}

.form-section .signup a:hover {
  text-decoration: underline;
}
.btn-p{
  display: flex;
  flex-direction: column;
  align-items: center;
}
